### Lecture 06 notebook - EDA
This notebook will follow the EDA notes in the Lecture 05 folder.

In [2]:
import numpy as np
import pandas as pd

In [3]:
!ls data

Alameda Gold Coast (outside) (37.767347 -122.267255) Primary Real Time 09_08_2021 09_07_2022.csv
B59-Mech (outside) (37.875921 -122.253082) Primary Real Time 09_08_2021 09_07_2022.csv
Backyard (outside) (37.826875 -122.245254) Primary Real Time 09_08_2021 09_07_2022.csv
Bower House (outside) (37.803884 -122.297151) Primary Real Time 09_08_2021 09_07_2022.csv
Moraga Ave (outside) (37.83023 -122.239963) Primary Real Time 09_08_2021 09_07_2022.csv
manzanita at villanova (outside) (37.84099 -122.196456) Primary Real Time 09_08_2021 09_07_2022.csv

In [4]:
Bower = pd.read_csv('data/Bower House (outside) (37.803884 -122.297151) Primary Real Time 09_08_2021 09_07_2022.csv')

In [5]:
Bower.head()

,created_at,entry_id,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,RSSI_dbm,Temperature_F,Humidity_%,PM2.5_ATM_ug/m3,Unnamed: 10
0,2021-09-08 00:00:30 UTC,271065,14.34,29.12,38.14,40112.0,-71.0,84.0,38.0,28.73,NaN
1,2021-09-08 00:02:30 UTC,271066,15.74,29.59,37.28,40114.0,-70.0,84.0,38.0,29.15,NaN
2,2021-09-08 00:04:30 UTC,271067,13.86,28.89,41.70,40116.0,-75.0,84.0,37.0,28.64,NaN
3,2021-09-08 00:06:30 UTC,271068,14.43,28.59,45.93,40118.0,-76.0,84.0,37.0,28.41,NaN
4,2021-09-08 00:08:30 UTC,271069,13.00,27.02,41.47,40120.0,-70.0,84.0,36.0,27.02,NaN

In [6]:
Bower.describe()

,entry_id,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,RSSI_dbm,Temperature_F,Humidity_%,PM2.5_ATM_ug/m3,Unnamed: 10
count,351942.000000,351942.000000,351942.000000,351942.000000,351942.000000,351942.000000,351942.000000,351942.000000,351942.000000,0.0
mean,390592.636500,7.703851,15.989965,24.196788,26747.629834,-70.180916,65.679018,50.249541,14.203361,NaN
std,68985.096555,9.894243,19.466634,24.491579,18879.817383,5.026611,11.876395,14.772064,14.610303,NaN
min,271065.000000,0.000000,0.000000,0.000000,1.000000,-93.000000,36.000000,5.000000,0.000000,NaN
25%,336116.000000,1.210000,3.590000,6.750000,10005.000000,-71.000000,58.000000,41.000000,3.590000,NaN
50%,380108.500000,3.760000,8.750000,16.410000,23995.500000,-69.000000,63.000000,55.000000,8.750000,NaN
75%,444398.750000,10.220000,20.280000,33.270000,41299.000000,-67.000000,71.000000,62.000000,20.270000,NaN
max,532384.000000,336.360000,1297.910000,1582.450000,71582.000000,-53.000000,126.000000,77.000000,865.120000,NaN

In [8]:
!ls data

Alameda Gold Coast (outside) (37.767347 -122.267255) Primary Real Time 09_08_2021 09_07_2022.csv
B59-Mech (outside) (37.875921 -122.253082) Primary Real Time 09_08_2021 09_07_2022.csv
Backyard (outside) (37.826875 -122.245254) Primary Real Time 09_08_2021 09_07_2022.csv
Bower House (outside) (37.803884 -122.297151) Primary Real Time 09_08_2021 09_07_2022.csv
Moraga Ave (outside) (37.83023 -122.239963) Primary Real Time 09_08_2021 09_07_2022.csv
manzanita at villanova (outside) (37.84099 -122.196456) Primary Real Time 09_08_2021 09_07_2022.csv

In [9]:
alameda = pd.read_csv('data/Alameda Gold Coast (outside) (37.767347 -122.267255) Primary Real Time 09_08_2021 09_07_2022.csv')
backyard = pd.read_csv('data/Backyard (outside) (37.826875 -122.245254) Primary Real Time 09_08_2021 09_07_2022.csv')
moraga = pd.read_csv('data/Moraga Ave (outside) (37.83023 -122.239963) Primary Real Time 09_08_2021 09_07_2022.csv')
manzanita = pd.read_csv('data/manzanita at villanova (outside) (37.84099 -122.196456) Primary Real Time 09_08_2021 09_07_2022.csv')

# Let's look at averages in order of distance from bay:

In [10]:
np.mean(alameda['PM2.5_CF1_ug/m3'])

13.041692402454741

In [11]:
np.mean(Bower['PM2.5_CF1_ug/m3'])

15.989965193128413

In [12]:
np.mean(backyard['PM2.5_CF1_ug/m3'])

11.776786947061435

In [13]:
np.mean(moraga['PM2.5_CF1_ug/m3'])

10.18030246986375

In [14]:
np.mean(manzanita['PM2.5_CF1_ug/m3'])

8.031333700168869

In [15]:
Bowertime = pd.to_datetime(Bower['created_at'], utc =True)

In [20]:
Bowertime[0].day

8

In [21]:
Bowertime.dtype

datetime64[ns, UTC]

In [22]:
Bowertime

0        2021-09-08 00:00:30+00:00
1        2021-09-08 00:02:30+00:00
2        2021-09-08 00:04:30+00:00
3        2021-09-08 00:06:30+00:00
4        2021-09-08 00:08:30+00:00
                    ...
351937   2022-09-07 23:50:17+00:00
351938   2022-09-07 23:52:17+00:00
351939   2022-09-07 23:54:17+00:00
351940   2022-09-07 23:56:17+00:00
351941   2022-09-07 23:58:17+00:00
Name: created_at, Length: 351942, dtype: datetime64[ns, UTC]

In [23]:
Bowertime.min()

Timestamp('2021-09-08 00:00:30+0000', tz='UTC')

In [24]:
Bowertime.max()

Timestamp('2022-09-07 23:58:17+0000', tz='UTC')

In [25]:
Bower.describe()

,entry_id,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,RSSI_dbm,Temperature_F,Humidity_%,PM2.5_ATM_ug/m3,Unnamed: 10
count,351942.000000,351942.000000,351942.000000,351942.000000,351942.000000,351942.000000,351942.000000,351942.000000,351942.000000,0.0
mean,390592.636500,7.703851,15.989965,24.196788,26747.629834,-70.180916,65.679018,50.249541,14.203361,NaN
std,68985.096555,9.894243,19.466634,24.491579,18879.817383,5.026611,11.876395,14.772064,14.610303,NaN
min,271065.000000,0.000000,0.000000,0.000000,1.000000,-93.000000,36.000000,5.000000,0.000000,NaN
25%,336116.000000,1.210000,3.590000,6.750000,10005.000000,-71.000000,58.000000,41.000000,3.590000,NaN
50%,380108.500000,3.760000,8.750000,16.410000,23995.500000,-69.000000,63.000000,55.000000,8.750000,NaN
75%,444398.750000,10.220000,20.280000,33.270000,41299.000000,-67.000000,71.000000,62.000000,20.270000,NaN
max,532384.000000,336.360000,1297.910000,1582.450000,71582.000000,-53.000000,126.000000,77.000000,865.120000,NaN