Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = ""
COLLABORATORS = ""

# Lab 2: Pandas Overview

[Pandas](https://pandas.pydata.org/) is one of the most widely used Python libraries in data science. In this lab, you will learn commonly used data wrangling operations and tools in Pandas. We aim to give you familiarity with:

* Creating dataframes
* Slicing data frames (i.e., selecting rows and columns)
* Filtering data (using boolean arrays)
* Data Aggregation and Grouping in dataframes

In this lab, you are going to use several pandas methods like `drop()`, `loc()`, `groupby()`. Remember that you can press `shift+tab` on any method to see the documentation for that method.

## Setup

In [2]:
# Import the following packages. Note the shorthand for pandas.
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

## Part 1: Creating DataFrames & Basic Manipulations

A [dataframe](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#dataframe) is a two-dimensional labeled data structure with columns holding data of potentially different types.

**Method 1: ** You can create a dataframe by specifying the columns and values as shown below.

Notice the syntax: you're passing a dictionary into the DataFrame.  The keys become the column names (e.g. `'name'`), and the values are lists (`['Peter',....`)

In [3]:
animals = pd.DataFrame(
    data={'name': ['Peter', 'Nutkin', 'Hunca Munca', 'Jemima'],
          'species': ['rabbit', 'squirrel', 'mouse', 'duck']
          })
animals

          name   species
0        Peter    rabbit
1       Nutkin  squirrel
2  Hunca Munca     mouse
3       Jemima      duck

**Method 2: ** You can also define a dataframe by specifying the rows like below.

Here, you're passing in tuples for each row of data (e.g. `("Peter", "rabbit")`) and specifying the column names separately.

In [4]:
animals2 = pd.DataFrame(
    [("Peter", "rabbit"), ("Nutkin", "squirrel"), ("Hunca Munca", "mouse"),
     ("Jemima", "duck")], 
    columns = ["name", "species"])
animals2

          name   species
0        Peter    rabbit
1       Nutkin  squirrel
2  Hunca Munca     mouse
3       Jemima      duck

**Other methods**: Usually you won't be creating data frames in such a manual way.  You'll often be loading dataframes in from other file types -- for example, comma separated (csv) files.  More on that later.

You can obtain the dimensions of a dataframe by using the shape attribute, `dataframe.shape`

In [5]:
(num_rows, num_columns) = animals.shape
num_rows, num_columns

(4, 2)

### Question 1

You can add a column using the syntax `dataframe['new column name'] = [data]`. Add a column called `favorite food` to the `animals` table which contains the strings 'nut', 'carrot', 'corn', and 'cheese'. Use your best guess as to which animal prefers which food.

In [6]:
# YOUR CODE HERE

In [7]:
# Solution
animals['favorite food'] = ['carrot','nut','cheese','corn']

In [8]:
animals

          name   species favorite food
0        Peter    rabbit        carrot
1       Nutkin  squirrel           nut
2  Hunca Munca     mouse        cheese
3       Jemima      duck          corn

### Question 2

Use the `.drop()` method to [drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) the `favorite food` column you created, and save the new dataframe (without the `favorite food` column) to `animals_original`. Some notes:

* You'll need to look up `drop` to figure out the right syntax.
* Make sure to use the `axis` parameter correctly

In [9]:
# YOUR CODE HERE

In [10]:
# Solution 
animals_original = animals.drop(['favorite food'], axis=1)

In [11]:
animals_original

          name   species
0        Peter    rabbit
1       Nutkin  squirrel
2  Hunca Munca     mouse
3       Jemima      duck

In [12]:
assert animals_original.shape[1] == 2

### Question 3

Use the `.rename()` method to [rename](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rename.html) the columns of `animals_original` so they begin with a capital letter. Set the `inplace` parameter correctly to change the `animals_original` dataframe. (hint: in Question 2, `drop` creates and returns a new dataframe instead of changing `animals` because `inplace` by default is `False`)

In [13]:
# YOUR CODE HERE

In [14]:
# Solution
animals_original.rename(columns = {"name": "Name", "species":"Species"}, inplace = True)

In [15]:
animals_original

          Name   Species
0        Peter    rabbit
1       Nutkin  squirrel
2  Hunca Munca     mouse
3       Jemima      duck

In [16]:
assert animals_original.columns[1] == 'Species' # the column number might be different for you

*Background*: For the curious, the field values you just worked with were inspired by [Beatrix Potter's](https://en.wikipedia.org/wiki/Beatrix_Potter) characters.

## Part 2: CalEnviroScreen Data
Now that we have learned the basics, we'll use Pandas to wrangle a real-world dataset. Specifically, we will be working with the [California Communities Environmental Health Screening Tool (CalEnviroScreen)](https://oehha.ca.gov/calenviroscreen), which uses demographic and environmental information to identify communities that are susceptible to various types of pollution. The various fields in this dataset contribute to the CES score, which reflects a community's environmental conditions and its vulnerability to environmental pollutants.

Your lab02 folder contains an Excel file downloaded from [here](https://oehha.ca.gov/calenviroscreen/report/draft-calenviroscreen-40).

Start by running the cell below, which creates an Excel file object in Pandas that we can then inspect. The cell below shows you the sheet names in the spreadsheet. Documentation on Pandas' Excel methods can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html).

In [17]:
# run this cell to import the Excel file and see the names of the tabs
filename = 'CalEnviroScreen_4.0Excel_ADA_D1_2021.xlsx'
xl = pd.ExcelFile(filename)
print(xl.sheet_names) # display a list of the sheets in the spreadsheet

['DRAFTCES4.0_results', 'Demographic profile', 'Data Dictionary']

Run the cell below to load the first sheet of the Excel file and assign it to the variable `ces4`.

In [18]:
ces4 = xl.parse(xl.sheet_names[0]) # display the first sheet as Pandas dataframe
ces4.head()

,Census Tract,Total Population,California County,ZIP,Nearby City \n(to help approximate location only),Longitude,Latitude,DRAFT CES 4.0 Score,DRAFT CES 4.0 Percentile,DRAFT CES 4.0\nPercentile Range,...,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Housing Burden,Housing Burden Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl
0,6019001100,2760,Fresno,93706,Fresno,-119.781696,36.709695,94.608491,100.000000,95-100% (highest scores),...,83.108379,76.6,98.429648,16.2,97.151695,30.7,90.614723,93.732898,9.718389,99.873897
1,6077000700,4177,San Joaquin,95206,Stockton,-121.287873,37.943173,90.831885,99.987390,95-100% (highest scores),...,96.338367,70.6,96.432161,18.5,98.453409,35.2,95.610928,93.402818,9.684166,99.836066
2,6077000100,4055,San Joaquin,95202,Stockton,-121.285363,37.953996,85.750324,99.974779,95-100% (highest scores),...,88.774556,81.8,99.497487,17.9,98.169867,36.4,96.508981,95.708085,9.923180,99.974779
3,6071001600,5527,San Bernardino,91761,Ontario,-117.618013,34.057780,83.556404,99.962169,95-100% (highest scores),...,97.113457,67.1,94.824121,6.7,57.198093,32.1,92.651151,80.589322,8.355640,93.064313
4,6037204920,2639,Los Angeles,90023,Los Angeles,-118.197497,34.017500,82.895832,99.949559,95-100% (highest scores),...,88.440465,64.9,93.505025,5.6,43.807192,25.0,77.953453,83.954388,8.704536,95.775536

Note that the dataframe contains 58 columns, but Pandas truncates the number we are able to see at once. We can show all columns using the `pd.set_option` method.

In [19]:
pd.set_option('display.max_columns', None)
ces4.head()

,Census Tract,Total Population,California County,ZIP,Nearby City \n(to help approximate location only),Longitude,Latitude,DRAFT CES 4.0 Score,DRAFT CES 4.0 Percentile,DRAFT CES 4.0\nPercentile Range,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,Drinking Water,Drinking Water Pctl,Lead,Lead Pctl,Pesticides,Pesticides Pctl,Tox. Release,Tox. Release Pctl,Traffic,Traffic Pctl,Cleanup Sites,Cleanup Sites Pctl,Groundwater Threats,Groundwater Threats Pctl,Haz. Waste,Haz. Waste Pctl,Imp. Water Bodies,Imp. Water Bodies Pctl,Solid Waste,Solid Waste Pctl,Pollution Burden,Pollution Burden Score,Pollution Burden Pctl,Asthma,Asthma Pctl,Low Birth Weight,Low Birth Weight Pctl,Cardiovascular Disease,Cardiovascular Disease Pctl,Education,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Housing Burden,Housing Burden Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl
0,6019001100,2760,Fresno,93706,Fresno,-119.781696,36.709695,94.608491,100.000000,95-100% (highest scores),0.060151,83.671437,13.906348,97.710019,1.122712,98.718108,721.183172,75.501808,92.126975,98.073291,1.435276,45.379656,48953.200520,99.838026,1037.095744,60.3750,89.85,98.905509,54.25,91.524629,2.650,92.222734,0,0.000000,6.0,79.630621,79.091178,9.734997,99.925327,129.54,97.220837,7.80,95.624840,21.47,92.248255,45.1,92.867982,18.0,83.108379,76.6,98.429648,16.2,97.151695,30.7,90.614723,93.732898,9.718389,99.873897
1,6077000700,4177,San Joaquin,95206,Stockton,-121.287873,37.943173,90.831885,99.987390,95-100% (highest scores),0.044902,41.244555,11.884085,72.594897,0.538105,91.151213,388.765624,33.038275,85.184288,93.527264,71.024146,75.035817,5574.027466,92.661351,856.395935,48.2875,72.30,98.358263,95.00,96.591087,1.050,82.466636,14,93.398637,8.6,87.794433,76.202343,9.379423,99.763535,105.88,94.217348,6.88,88.722094,20.26,88.123131,48.9,95.422357,31.9,96.338367,70.6,96.432161,18.5,98.453409,35.2,95.610928,93.402818,9.684166,99.836066
2,6077000100,4055,San Joaquin,95202,Stockton,-121.285363,37.953996,85.750324,99.974779,95-100% (highest scores),0.044739,40.398258,11.875729,72.196640,0.519797,90.628500,388.765624,33.038275,77.832693,87.281199,18.101677,64.828080,3060.288513,81.497633,287.455949,7.6125,57.35,97.026633,81.80,95.746677,1.050,82.466636,14,93.398637,8.5,87.607066,70.206467,8.641416,98.767890,238.03,99.962612,9.72,99.358481,20.57,89.132602,45.7,93.373799,22.1,88.774556,81.8,99.497487,17.9,98.169867,36.4,96.508981,95.708085,9.923180,99.974779
3,6071001600,5527,San Bernardino,91761,Ontario,-117.618013,34.057780,83.556404,99.962169,95-100% (highest scores),0.063273,93.739888,13.785161,97.398880,0.418891,86.011201,839.235788,91.073432,92.361235,98.224405,0.414407,34.204871,13944.633460,98.828806,842.733027,47.2750,56.00,96.862459,36.50,84.863174,2.825,92.867004,4,44.591141,10.0,91.033191,81.244172,10.000000,100.000000,60.88,70.102193,5.62,67.372338,18.57,82.901296,52.2,96.813354,34.1,97.113457,67.1,94.824121,6.7,57.198093,32.1,92.651151,80.589322,8.355640,93.064313
4,6037204920,2639,Los Angeles,90023,Los Angeles,-118.197497,34.017500,82.895832,99.949559,95-100% (highest scores),0.046588,49.023024,12.251640,89.209708,0.780833,96.552582,766.840041,83.979554,93.247909,98.715527,0.000000,0.000000,7537.026855,95.352604,2522.622269,92.8375,48.40,96.041591,20.70,70.164191,12.125,99.102623,7,68.845826,4.0,69.325482,77.371189,9.523291,99.863099,76.10,82.764207,7.11,90.890429,20.87,90.154536,50.8,96.155792,21.8,88.440465,64.9,93.505025,5.6,43.807192,25.0,77.953453,83.954388,8.704536,95.775536

Notice that this dataset doesn't include the units in many of the column headings. Let's load a different sheet to get more information about what we're looking at.

Run the following cell to load the data dictionary.

In [20]:
dd = xl.parse('Data Dictionary', header = 6)
dd.head(10)

,Longitude,Longitude of the centroid of the census tract
0,Latitude,Latitude of the centroid of the census tract
1,Draft CES 4.0 Score,"CalEnviroScreen Score, Pollution Score multipl..."
2,Draft CES 4.0 Percentile,Percentile of the CalEnviroScreen score
3,Draft CES 4.0 Percentile Range,"Percentile of the CalEnviroScreen score, group..."
4,Ozone,Amount of daily maximum 8-hour Ozone concentra...
5,Ozone Pctl,Ozone percentile
6,PM2.5,Annual mean PM 2.5 concentrations
7,PM2.5 Pctl,PM2.5 percentile
8,Diesel PM,Diesel PM emissions from on-road and non-road ...
9,Diesel PM Pctl,Diesel PM percentile

### Question 4
The length of a dataframe is equivalent to its number of rows. Find the length of `ces4`. What does each row represent?

In [21]:
# YOUR CODE HERE

*YOUR ANSWER HERE*

In [22]:
# Solution
len(ces4)

8035

*SOLUTION:* *Each row represents observations for a unique census tract.*

## Slicing Data Frames - selecting rows and columns

### Selection Using Label

**Column Selection** 
To select a column of a `DataFrame` by column label, the safest and fastest way is to use the `.loc` [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html). General usage looks like `frame.loc[rowname,colname]`. (Reminder that the colon `:` means "everything").

- You can also slice across columns. For example, `ces3.loc[:, 'ZIP':]` would select all rows in the column `ZIP` and every column to the right.

- *Alternative:* While `.loc` is invaluable when writing production code, it may be a little too verbose for interactive use. One recommended alternative is the `[]` method, which takes on the form `frame['colname']`.

**Row Selection**
Similarly, if we want to select a row by its label, we can use the same `.loc` method. In this case, the "label" of each row refers to the index (i.e., primary key) of the dataframe.

In [23]:
#Example:
ces4.loc[100:110, 'ZIP']

100    90059
101    90201
102    90280
103    90280
104    92501
105    95203
106    93307
107    90023
108    95206
109    90222
110    90023
Name: ZIP, dtype: int64

In [24]:
#Example:  Notice the difference between these two methods
ces4.loc[100:110, ['ZIP']]

       ZIP
100  90059
101  90201
102  90280
103  90280
104  92501
105  95203
106  93307
107  90023
108  95206
109  90222
110  90023

The `.loc` method actually uses the index (the bolded, leftmost series in the dataframe) rather than the row position to perform the selection. In the previous example, it's just a coincidence that the `.loc` syntax matches that of the array slicing syntax - the index and row position aren't always the same value. For example, you could set your index to a non-numeric code, like census tract or other unique ID, if that's how you want to identify your records.

Alternatively, we can use [`.iloc`](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.iloc.html) to slice the dataframe using row location and column position.

See the following example:

In [25]:
#Example: We change the index from 0,1,2... to the Census Tract column
df = ces4.set_index("Census Tract") # Why might we want to use Census Tract instead of County or City?
df.head()

,Total Population,California County,ZIP,Nearby City \n(to help approximate location only),Longitude,Latitude,DRAFT CES 4.0 Score,DRAFT CES 4.0 Percentile,DRAFT CES 4.0\nPercentile Range,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,Drinking Water,Drinking Water Pctl,Lead,Lead Pctl,Pesticides,Pesticides Pctl,Tox. Release,Tox. Release Pctl,Traffic,Traffic Pctl,Cleanup Sites,Cleanup Sites Pctl,Groundwater Threats,Groundwater Threats Pctl,Haz. Waste,Haz. Waste Pctl,Imp. Water Bodies,Imp. Water Bodies Pctl,Solid Waste,Solid Waste Pctl,Pollution Burden,Pollution Burden Score,Pollution Burden Pctl,Asthma,Asthma Pctl,Low Birth Weight,Low Birth Weight Pctl,Cardiovascular Disease,Cardiovascular Disease Pctl,Education,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Housing Burden,Housing Burden Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl
Census Tract,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6019001100,2760,Fresno,93706,Fresno,-119.781696,36.709695,94.608491,100.000000,95-100% (highest scores),0.060151,83.671437,13.906348,97.710019,1.122712,98.718108,721.183172,75.501808,92.126975,98.073291,1.435276,45.379656,48953.200520,99.838026,1037.095744,60.3750,89.85,98.905509,54.25,91.524629,2.650,92.222734,0,0.000000,6.0,79.630621,79.091178,9.734997,99.925327,129.54,97.220837,7.80,95.624840,21.47,92.248255,45.1,92.867982,18.0,83.108379,76.6,98.429648,16.2,97.151695,30.7,90.614723,93.732898,9.718389,99.873897
6077000700,4177,San Joaquin,95206,Stockton,-121.287873,37.943173,90.831885,99.987390,95-100% (highest scores),0.044902,41.244555,11.884085,72.594897,0.538105,91.151213,388.765624,33.038275,85.184288,93.527264,71.024146,75.035817,5574.027466,92.661351,856.395935,48.2875,72.30,98.358263,95.00,96.591087,1.050,82.466636,14,93.398637,8.6,87.794433,76.202343,9.379423,99.763535,105.88,94.217348,6.88,88.722094,20.26,88.123131,48.9,95.422357,31.9,96.338367,70.6,96.432161,18.5,98.453409,35.2,95.610928,93.402818,9.684166,99.836066
6077000100,4055,San Joaquin,95202,Stockton,-121.285363,37.953996,85.750324,99.974779,95-100% (highest scores),0.044739,40.398258,11.875729,72.196640,0.519797,90.628500,388.765624,33.038275,77.832693,87.281199,18.101677,64.828080,3060.288513,81.497633,287.455949,7.6125,57.35,97.026633,81.80,95.746677,1.050,82.466636,14,93.398637,8.5,87.607066,70.206467,8.641416,98.767890,238.03,99.962612,9.72,99.358481,20.57,89.132602,45.7,93.373799,22.1,88.774556,81.8,99.497487,17.9,98.169867,36.4,96.508981,95.708085,9.923180,99.974779
6071001600,5527,San Bernardino,91761,Ontario,-117.618013,34.057780,83.556404,99.962169,95-100% (highest scores),0.063273,93.739888,13.785161,97.398880,0.418891,86.011201,839.235788,91.073432,92.361235,98.224405,0.414407,34.204871,13944.633460,98.828806,842.733027,47.2750,56.00,96.862459,36.50,84.863174,2.825,92.867004,4,44.591141,10.0,91.033191,81.244172,10.000000,100.000000,60.88,70.102193,5.62,67.372338,18.57,82.901296,52.2,96.813354,34.1,97.113457,67.1,94.824121,6.7,57.198093,32.1,92.651151,80.589322,8.355640,93.064313
6037204920,2639,Los Angeles,90023,Los Angeles,-118.197497,34.017500,82.895832,99.949559,95-100% (highest scores),0.046588,49.023024,12.251640,89.209708,0.780833,96.552582,766.840041,83.979554,93.247909,98.715527,0.000000,0.000000,7537.026855,95.352604,2522.622269,92.8375,48.40,96.041591,20.70,70.164191,12.125,99.102623,7,68.845826,4.0,69.325482,77.371189,9.523291,99.863099,76.10,82.764207,7.11,90.890429,20.87,90.154536,50.8,96.155792,21.8,88.440465,64.9,93.505025,5.6,43.807192,25.0,77.953453,83.954388,8.704536,95.775536

We can now lookup rows by name directly:

In [26]:
df.loc[[6037205120, 6019000200], :]

,Total Population,California County,ZIP,Nearby City \n(to help approximate location only),Longitude,Latitude,DRAFT CES 4.0 Score,DRAFT CES 4.0 Percentile,DRAFT CES 4.0\nPercentile Range,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,Drinking Water,Drinking Water Pctl,Lead,Lead Pctl,Pesticides,Pesticides Pctl,Tox. Release,Tox. Release Pctl,Traffic,Traffic Pctl,Cleanup Sites,Cleanup Sites Pctl,Groundwater Threats,Groundwater Threats Pctl,Haz. Waste,Haz. Waste Pctl,Imp. Water Bodies,Imp. Water Bodies Pctl,Solid Waste,Solid Waste Pctl,Pollution Burden,Pollution Burden Score,Pollution Burden Pctl,Asthma,Asthma Pctl,Low Birth Weight,Low Birth Weight Pctl,Cardiovascular Disease,Cardiovascular Disease Pctl,Education,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Housing Burden,Housing Burden Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl
Census Tract,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6037205120,3521,Los Angeles,90023,Los Angeles,-118.211796,34.018755,74.556121,99.659521,95-100% (highest scores),0.046448,48.500311,12.274078,89.421282,0.571346,92.084630,766.840041,83.979554,89.205066,96.146581,0.000000,0.000000,5840.613281,93.172190,928.464712,53.6625,64.8,97.738052,20.00,69.272869,27.005,99.976990,7,68.845826,4.35,70.369379,73.494128,9.046080,99.477287,76.10,82.764207,5.88,72.850911,20.87,90.154536,59.7,99.013657,27.2,93.866096,78.7,98.994975,1.5,2.113674,31.1,91.310397,79.491489,8.241815,91.878941
6019000200,2870,Fresno,93706,Fresno,-119.805504,36.735491,79.894464,99.899117,95-100% (highest scores),0.060554,84.803983,13.818959,97.473553,1.389658,99.303049,721.183172,75.501808,77.028258,86.374512,9.196541,60.207736,3996.600016,88.524794,909.650882,52.2625,16.0,79.149945,28.25,78.717748,0.100,41.463415,0,0.000000,0.00,0.000000,66.993069,8.245892,97.523335,139.08,98.167996,10.25,99.666410,22.64,94.429212,39.0,88.163885,15.6,78.043565,75.6,98.228643,12.2,89.947158,32.4,93.005312,93.449459,9.689002,99.848676

However, if we want to access rows by location we will need to use the integer loc (`iloc`) accessor:

In [27]:
#Example: 
# df.loc[2:5,"Year"] # You can't do this
df.iloc[1:4,6:9]

,DRAFT CES 4.0 Score,DRAFT CES 4.0 Percentile,DRAFT CES 4.0\nPercentile Range
Census Tract,,,
6077000700,90.831885,99.987390,95-100% (highest scores)
6077000100,85.750324,99.974779,95-100% (highest scores)
6071001600,83.556404,99.962169,95-100% (highest scores)

### Question 5

Selecting multiple columns is easy using `.loc`.  You just need to supply a list of column names.  Select the `California County`,`Diesel PM Pctl`, and `PM2.5 Pctl` columns **in that order** from the `ces3` table.

In [28]:
# YOUR CODE HERE

In [29]:
# Solution
dsl_PM = ces4.loc[:, ["California County", "Diesel PM Pctl","PM2.5 Pctl"]]

In [30]:
dsl_PM.head()

  California County  Diesel PM Pctl  PM2.5 Pctl
0           Fresno        98.718108   97.710019
1       San Joaquin       91.151213   72.594897
2       San Joaquin       90.628500   72.196640
3    San Bernardino       86.011201   97.398880
4       Los Angeles       96.552582   89.209708

In [31]:
assert dsl_PM.shape == (8035, 3)
assert dsl_PM.columns[1] == "Diesel PM Pctl"

As you may have noticed above, the .loc() method is a way to re-order the columns within a dataframe.

## Filtering Data

### Filtering with boolean arrays

Filtering is the process of removing unwanted material.  In your quest for cleaner data, you will undoubtedly filter your data at some point: whether it be for clearing up cases with missing values, culling out fishy outliers, or analyzing subgroups of your data set.  Note that compound expressions have to be grouped with brackets. Example usage looks like `df[df[column name] < 5]]`.

For your reference, some commonly used comparison operators are given below.

Symbol | Usage      | Meaning 
------ | ---------- | -------------------------------------
==   | a == b   | Does a equal b?
<=   | a <= b   | Is a less than or equal to b?
>=   | a >= b   | Is a greater than or equal to b?
<    | a < b    | Is a less than b?
&#62;    | a &#62; b    | Is a greater than b?
~    | ~p       | Returns negation of p
&#124; | p &#124; q | p OR q
&    | p & q    | p AND q
^  | p ^ q | p XOR q (exclusive or)

In the following we construct the DataFrame containing only census tracts in Sacramento County.

In [32]:
ces4_SC = ces4[ces4['California County'] == 'Sacramento '] # Note the space after "Sacramento." This kind of quirk can be remedied with some simple data cleaning techniques, which we'll discuss in future lessons.
ces4_SC.head()

,Census Tract,Total Population,California County,ZIP,Nearby City \n(to help approximate location only),Longitude,Latitude,DRAFT CES 4.0 Score,DRAFT CES 4.0 Percentile,DRAFT CES 4.0\nPercentile Range,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,Drinking Water,Drinking Water Pctl,Lead,Lead Pctl,Pesticides,Pesticides Pctl,Tox. Release,Tox. Release Pctl,Traffic,Traffic Pctl,Cleanup Sites,Cleanup Sites Pctl,Groundwater Threats,Groundwater Threats Pctl,Haz. Waste,Haz. Waste Pctl,Imp. Water Bodies,Imp. Water Bodies Pctl,Solid Waste,Solid Waste Pctl,Pollution Burden,Pollution Burden Score,Pollution Burden Pctl,Asthma,Asthma Pctl,Low Birth Weight,Low Birth Weight Pctl,Cardiovascular Disease,Cardiovascular Disease Pctl,Education,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Housing Burden,Housing Burden Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl
126,6067005301,1462,Sacramento,95811,Sacramento,-121.482520,38.591604,66.118375,98.411097,95-100% (highest scores),0.045134,42.464219,9.096160,39.240821,0.413679,85.612943,252.981462,10.983668,72.504542,81.526256,0.000000,0.00000,760.649358,55.644156,1892.222241,85.4250,214.00,99.963517,127.50,97.826427,4.500,95.144961,19,98.147359,7.45,84.314775,65.101225,8.013033,96.639701,133.65,97.632104,13.71,100.000000,17.04,76.395813,21.2,66.337886,1.0,6.655085,81.8,99.497487,28.5,99.909782,21.5,66.721477,79.583491,8.251354,92.005044
379,6067006400,5686,Sacramento,95838,Sacramento,-121.420238,38.641645,58.603288,95.220681,95-100% (highest scores),0.048327,56.303671,9.051034,38.431861,0.342954,80.497822,441.294563,41.727964,85.246087,93.552449,0.008021,10.27937,87.953400,25.330177,1101.994121,64.0875,12.50,71.908063,178.45,98.967944,0.225,55.775426,6,59.923339,0.00,0.000000,53.289219,6.559144,82.327318,140.77,98.292622,8.93,98.627149,26.90,98.853440,28.9,77.996965,5.4,39.823600,64.9,93.505025,10.9,85.810027,23.0,71.641791,86.173276,8.934594,97.351828
424,6067000700,2604,Sacramento,95814,Sacramento,-121.501660,38.581871,57.507776,94.653216,90-95%,0.044525,39.514624,9.145304,39.887990,0.803226,96.739266,252.981462,10.983668,34.965229,30.210301,0.000000,0.00000,366.257863,42.561675,1145.513234,66.1500,117.40,99.580445,74.85,95.183737,0.110,43.580304,18,97.529813,0.00,0.000000,49.562247,6.100406,74.187928,91.75,90.191924,NaN,NaN,21.12,90.952144,30.4,79.704097,38.7,98.236002,82.3,99.510050,21.1,99.342699,25.6,79.559828,90.921285,9.426876,99.243380
581,6067004502,5472,Sacramento,95823,Sacramento,-121.462926,38.502552,54.193482,92.673392,90-95%,0.044982,41.655258,8.889476,34.922215,0.340494,80.273802,745.786745,78.282010,63.173063,70.167485,0.000000,0.00000,139.946330,30.862198,2278.684911,90.5000,1.50,22.692448,15.00,60.641126,0.050,26.369075,4,44.591141,0.00,0.000000,45.841500,5.642436,64.355943,141.33,98.454636,7.30,92.455735,26.61,98.741276,31.7,81.246839,17.5,82.199653,65.9,94.120603,19.0,98.685398,29.0,87.351379,92.635662,9.604626,99.634300
618,6067006900,4626,Sacramento,95815,Sacramento,-121.457865,38.601870,53.701912,92.206810,90-95%,0.046030,46.770380,9.009942,37.598009,0.249767,69.943995,252.981462,10.983668,68.301400,76.942451,0.000000,0.00000,247.038167,37.042113,653.186429,32.3625,27.75,90.076614,68.00,94.354965,0.500,70.248504,9,78.407155,0.20,8.404711,48.736390,5.998755,72.109521,173.37,99.526421,6.05,76.122658,24.34,97.121137,22.5,68.437026,10.3,62.688761,64.7,93.341709,17.8,98.118314,28.5,86.225651,86.342849,8.952176,97.465322

### Question 6
Select the census tracts in Alameda county whose CES 3.0 Percentile is 90 or higher.

(If you use condition `p` & condition `q` to filter the dataframe, make sure to use `df[(p) & (q)]`)

Hint: The county names are not "clean." Try using the `.unique()` method to look up the **exact** county names.

In [33]:
# YOUR CODE HERE

In [34]:
# Solution
AC_highCES = ces4[(ces4["California County"] == "Alameda ") & (ces4['DRAFT CES 4.0 Percentile']>=90)]

In [35]:
AC_highCES

,Census Tract,Total Population,California County,ZIP,Nearby City \n(to help approximate location only),Longitude,Latitude,DRAFT CES 4.0 Score,DRAFT CES 4.0 Percentile,DRAFT CES 4.0\nPercentile Range,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,Drinking Water,Drinking Water Pctl,Lead,Lead Pctl,Pesticides,Pesticides Pctl,Tox. Release,Tox. Release Pctl,Traffic,Traffic Pctl,Cleanup Sites,Cleanup Sites Pctl,Groundwater Threats,Groundwater Threats Pctl,Haz. Waste,Haz. Waste Pctl,Imp. Water Bodies,Imp. Water Bodies Pctl,Solid Waste,Solid Waste Pctl,Pollution Burden,Pollution Burden Score,Pollution Burden Pctl,Asthma,Asthma Pctl,Low Birth Weight,Low Birth Weight Pctl,Cardiovascular Disease,Cardiovascular Disease Pctl,Education,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Housing Burden,Housing Burden Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl
162,6001407300,2440,Alameda,94601,Oakland,-122.210924,37.762179,64.580115,97.957125,95-100% (highest scores),0.028656,4.380834,9.082865,38.991910,0.632715,93.951462,108.411535,3.927191,88.190819,95.428787,0.0,0.0,573.147664,49.215051,1658.419290,81.2250,66.45,98.011675,248.35,99.515246,0.225,55.775426,16,96.081772,14.00,95.396146,60.245371,7.415347,92.918482,113.30,95.289133,7.35,92.814986,12.41,49.825523,38.6,87.733940,19.6,85.553922,56.9,86.608040,12.8,91.609744,31.5,91.917531,83.997258,8.708981,95.825977
200,6001408800,7054,Alameda,94621,Oakland,-122.196942,37.758804,63.194836,97.477932,95-100% (highest scores),0.029069,5.003111,8.834295,33.652769,0.320548,78.431861,108.411535,3.927191,93.787668,98.992570,0.0,0.0,780.098002,56.192375,722.379679,38.1000,28.75,90.587377,70.70,94.652072,0.360,63.713760,15,94.825383,6.80,81.531049,54.545633,6.713790,84.592408,194.40,99.675972,8.95,98.652810,21.04,90.466102,44.6,92.526555,11.9,68.167847,66.6,94.396985,10.9,85.810027,28.2,85.618518,90.784474,9.412691,99.205549
217,6001409000,3904,Alameda,94621,Oakland,-122.221368,37.720011,62.666135,97.263556,95-100% (highest scores),0.028871,4.766646,8.709957,30.143124,0.562479,91.761045,108.411535,3.927191,91.711973,97.884397,0.0,0.0,741.219991,55.245452,1717.311566,82.2750,58.05,97.117840,100.05,96.888194,1.550,86.355269,15,94.825383,3.55,65.364026,59.870285,7.369179,92.557561,173.63,99.538883,8.29,97.549397,15.26,68.133101,32.8,82.460799,18.4,83.683015,41.6,68.165829,8.0,69.338832,23.9,74.500379,82.018449,8.503815,94.312736
331,6001409100,2327,Alameda,94603,Oakland,-122.183500,37.732326,59.772651,95.825977,95-100% (highest scores),0.029519,5.712508,8.499142,22.725576,0.628611,93.839452,108.411535,3.927191,94.651761,99.433321,0.0,0.0,728.145671,54.896586,3835.040540,98.4875,49.10,96.114557,19.15,67.974980,0.125,46.916705,11,87.968484,1.00,33.244111,53.733100,6.613779,83.186061,226.34,99.937687,6.77,87.439056,19.11,84.583749,31.8,81.335357,NaN,NaN,41.4,67.839196,11.5,87.885037,38.4,97.660005,87.166698,9.037594,97.931904
575,6001403000,2969,Alameda,94607,Oakland,-122.270732,37.800427,54.455906,92.749054,90-95%,0.026988,0.336030,9.827976,47.367766,1.175040,98.879900,108.411535,3.927191,38.945070,35.511900,0.0,0.0,662.626658,52.790929,1106.957318,64.3375,27.95,90.131339,158.35,98.639562,2.695,92.429821,11,87.968484,1.00,33.244111,52.090156,6.411556,80.037337,124.65,96.473081,7.14,91.275340,10.81,36.602692,40.5,89.668690,62.7,99.933182,57.3,87.110553,8.6,73.798170,34.2,94.750822,81.917994,8.493399,94.249685
577,6001402200,2527,Alameda,94607,Oakland,-122.296308,37.806351,54.422565,92.723834,90-95%,0.026710,0.174238,9.717527,46.359676,0.755725,96.154325,108.411535,3.927191,83.875061,92.582798,0.0,0.0,694.948680,53.937204,1039.218398,60.4625,174.00,99.890551,153.25,98.483190,0.925,80.809940,10,84.199319,1.00,33.244111,55.908302,6.881515,87.106409,152.43,98.978066,7.42,93.276880,13.03,54.087737,15.4,55.576631,13.9,73.740478,50.7,79.912060,6.9,59.221549,27.3,83.746522,76.276838,7.908515,88.032787
587,6001406100,4659,Alameda,94601,Oakland,-122.227594,37.774155,54.081076,92.597730,90-95%,0.028238,2.775358,9.237722,41.032981,0.891162,97.498444,108.411535,3.927191,72.150432,81.135877,0.0,0.0,580.127319,49.414403,1806.677233,83.9625,66.35,97.975192,284.95,99.687256,0.275,60.262310,17,96.763203,1.20,34.689507,55.937394,6.885096,87.131301,114.19,95.438684,5.25,58.788812,12.56,50.897308,36.8,86.039454,25.2,92.302552,52.7,82.386935,7.7,66.709628,29.4,88.274728,75.758797,7.854803,87.263556
715,6001409500,4272,Alameda,94621,Oakland,-122.183766,37.750446,52.191381,90.983607,90-95%,0.029409,5.476042,8.504618,22.924704,0.577784,92.271313,108.411535,3.927191,92.487197,98.325148,0.0,0.0,735.623006,55.071019,399.190329,14.0750,24.75,88.325429,53.05,91.227522,1.700,87.091578,1,13.117547,1.00,33.244111,45.206281,5.564249,62.526447,194.40,99.675972,7.37,92.956120,21.04,90.466102,43.1,91.489631,16.7,80.408927,62.3,91.469849,9.5,79.159686,30.5,90.311156,90.466957,9.379771,99.092055
762,6001406000,3344,Alameda,94606,Oakland,-122.246184,37.787568,51.507858,90.390921,90-95%,0.027605,0.696951,9.805885,47.131301,0.978049,98.083385,108.411535,3.927191,62.282345,68.782269,0.0,0.0,611.393992,50.797408,1775.910139,83.3625,66.40,97.993433,198.25,99.155590,0.675,77.082375,18,97.529813,0.10,1.980728,54.314546,6.685347,84.318606,96.94,91.749751,5.95,74.223762,10.06,30.321535,31.3,80.778958,31.4,96.124549,53.2,82.876884,13.4,93.272329,20.6,62.888945,74.310008,7.704590,85.296343
767,6001410500,2373,Alameda,94607,Oakland,-122.288956,37.810020,51.463505,90.327869,90-95%,0.026623,0.136901,10.180118,50.304916,0.549259,91.487243,108.411535,3.927191,90.699773,97.204382,0.0,0.0,704.554983,54.248692,530.110309,23.2750,125.35,99.635170,185.20,99.014855,0.810,79.590428,10,84.199319,0.00,0.000000,50.878012,6.262358,77.075296,152.43,98.978066,7.87,95.881447,13.03,54.087737,16.1,56.879110,8.9,56.741948,68.4,95.502513,16.7,97.577007,22.8,70.996711,79.260937,8.217911,91.614124

In [36]:
assert len(AC_highCES) == 10
assert AC_highCES["DRAFT CES 4.0 Percentile"].max() == 97.9571248423707

## Data Aggregration 

### Question 7a
We can perform operations across columns and rows of a dataframe to generate summary statistics. 

Find the mean, minimum, maximum, and standard deviation PM2.5 across all census tracts. (You may use the `ces4` DataFrame created above.)

In [37]:
# YOUR CODE HERE

pm_mean = ...
pm_min = ...
pm_max = ...
pm_stdev = ...

print('Mean: {}'.format(pm_mean))
print('Min: {}'.format(pm_min))
print('Max: {}'.format(pm_max))
print('Standard deviation: {}'.format(pm_stdev))

Mean: Ellipsis
Min: Ellipsis
Max: Ellipsis
Standard deviation: Ellipsis

In [38]:
# Solution
pm_mean = ces4['PM2.5'].mean()
pm_min = ces4['PM2.5'].min()
pm_max = ces4['PM2.5'].max()
pm_stdev = ces4['PM2.5'].std()

print('Mean: {}'.format(pm_mean))
print('Min: {}'.format(pm_min))
print('Max: {}'.format(pm_max))
print('Standard deviation: {}'.format(pm_stdev))

Mean: 10.152699916179465
Min: 1.875091539
Max: 16.39474779
Standard deviation: 2.165937022827508

### Question 7b

What is the total population reprepresented in the CalEnviroscreen 4.0 dataset?

In [39]:
# YOUR CODE HERE

In [40]:
# Solution
ces4[' Total Population'].sum()

39148760

### Question 8
To count the number of instances of a value in a `Series`, we can use the `value_counts()` [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) as `df["col_name"].value_counts()`. 

Count the number of different census tracts in each California county. (You may use the `ces4` DataFrame created above.) In other words, compute the number of rows in the table for each county.

In [41]:
# YOUR CODE HERE

In [42]:
# Solution

num_censusTracts = ces4["California County"].value_counts()

In [43]:
num_censusTracts

Los Angeles        2343
San Diego           627
Orange              582
Riverside           453
Santa Clara         372
San Bernardino      369
Alameda             360
Sacramento          317
Contra Costa        207
Fresno              199
San Francisco       195
Ventura             173
San Mateo           157
Kern                151
San Joaquin         139
Sonoma               99
Solano               96
Stanislaus           94
Monterey             93
Santa Barbara        89
Placer               84
Tulare               78
Marin                55
San Luis Obispo      53
Santa Cruz           52
Butte                51
Merced               49
Shasta               48
El Dorado            42
Yolo                 41
Napa                 40
Imperial             31
Humboldt             30
Kings                27
Madera               23
Sutter               21
Mendocino            20
Nevada               20
Lake                 15
Yuba                 14
Siskiyou             14
San Benito           11
Tehama               11
Tuolumne             11
Calaveras            10
Amador                9
Lassen                9
Plumas                7
Del Norte             7
Inyo                  6
Glenn                 6
Mariposa              6
Trinity               5
Colusa                5
Modoc                 4
Mono                  3
Sierra                1
Alpine                1
Name: California County, dtype: int64

In [44]:
assert num_censusTracts["Alameda "] == 360
assert num_censusTracts.sum() == len(ces4)

### Question 9a

A more versatile way to aggregate data is to use the `.groupby()` [function](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html). Find the sum of `Imp. Water Bodies` for each `California County` in the `ces4` table. Use the syntax `df.groupby("col_name").sum()`.

In [45]:
# YOUR CODE HERE

In [46]:
# Solution
sum_impH2O = ces4.groupby("California County").sum()

In [47]:
# The syntax below will sort sum_impH20 from most to least impaired bodies. 
sum_impH2O.sort_values(by = "Imp. Water Bodies", ascending=False)['Imp. Water Bodies']

California County
Los Angeles        7178
San Diego          3617
Orange             1742
Ventura            1493
Alameda            1461
Sacramento         1344
San Joaquin        1074
Contra Costa       1044
San Francisco      1043
Santa Clara         838
Monterey            809
Riverside           668
Santa Barbara       612
San Mateo           596
Santa Cruz          504
Sonoma              502
Imperial            497
Stanislaus          473
Solano              362
Marin               346
San Luis Obispo     337
San Bernardino      284
Placer              261
Merced              225
Yolo                210
Sutter              195
Butte               170
Fresno              129
Humboldt            125
Tulare              104
El Dorado           100
Shasta               98
Napa                 86
San Benito           86
Siskiyou             77
Nevada               70
Mendocino            69
Colusa               66
Madera               59
Yuba                 58
Lake                 57
Tehama               50
Lassen               48
Glenn                40
Tuolumne             30
Calaveras            25
Modoc                22
Mono                 22
Plumas               21
Kings                20
Trinity              20
Kern                 17
Mariposa             12
Alpine               11
Inyo                  8
Amador                6
Sierra                5
Del Norte             5
Name: Imp. Water Bodies, dtype: int64

In [48]:
assert sum_impH2O.loc["Los Angeles", "Imp. Water Bodies"] == 7178
assert sum_impH2O.sort_values(by = "Imp. Water Bodies", ascending=False).index[3] == "Ventura "

### Question 9b
Take a look at the the Data Dictionary. What does the sum of the `Imp. Water Bodies` column represent?  In the process you'll read about "buffers".  What is a buffer?

In [49]:
# SCRATCH WORK HERE

*YOUR ANSWER HERE*

*SOLUTION*

*The sum of the number of pollutants across all impaired water bodies within buffered distances to populated blocks in the **county**.* 

*Buffers are areas around an object in space (often a point).  They are often used to aggregate data (as in `groupby`: by averaging, taking the max, counts, etc.) in the vicinity of the object.*

### Question 9c

What do the values in `ZIP` represent in the dataframe `sum_impH2O`? Why is the column `DRAFT CES 4.0 Percentile Range` no longer present in the dataframe?

*YOUR ANSWER HERE*

*SOLUTION*

*`ZIP` is the sum of all zip codes associated with the census tracts in a given county. Although this isn't particularly meaningful to us, it's how Python interprets the `.sum()` method of `groupby()` - it takes the sum of all numeric values in the dataframe, grouped by the specified column (`California County`).*

*`CES 3.0 Percentile Range` is no longer present in the dataframe because the column does not contain numeric values. Python isn't able to sum the column's values, so it drops it. We could keep this column by grouping by both `California County` and `CES 3.0 Percentile Range` in the groupby - that way, we would get a dataframe that has the total number of pollutants in impaired water bodies by both county and CES 3.0 category.*

### Question 9d

Find the mean of `Poverty` for each county for census tracts with population greater than or equal to 3,000 and with a `Pollution Burden Pctl` above 85.

In [50]:
# YOUR CODE HERE

In [51]:
# SOLUTION
poverty_mean = ces4[(ces4[" Total Population"] >= 3000) & (ces4["Pollution Burden Pctl"] > 85)].groupby("California County").mean()

In [52]:
poverty_mean.sort_values(by = "Poverty", ascending=False)['Poverty']

California County
Sutter            70.700000
Yuba              59.400000
Butte             59.400000
Fresno            59.302778
Tulare            57.381818
Kern              55.966667
Kings             53.175000
Imperial          52.400000
Yolo              50.000000
Madera            49.366667
Santa Barbara     46.250000
San Joaquin       45.865385
Merced            45.655556
Riverside         45.458974
San Diego         45.310000
Los Angeles       43.803061
Stanislaus        43.366667
Sacramento        42.540000
San Bernardino    42.179710
Monterey          40.900000
Santa Cruz        36.000000
Orange            35.909890
Placer            33.700000
Alameda           33.385714
Solano            32.566667
San Francisco     31.316667
Ventura           29.483333
Santa Clara       28.766667
Contra Costa      28.200000
San Mateo         22.966667
Name: Poverty, dtype: float64

In [53]:
assert np.round(poverty_mean.loc["Alameda ", "Poverty"],2) == 33.39
assert len(poverty_mean) == 30

### Question 9e

What does your output to 7d represent?  Dig in to the data a little further and tell us what you notice about the `Poverty` field values in the counties/tract combinations that show up in your result to 7d, versus the `Poverty` field values for all tracts?

*YOUR ANSWER HERE*

*From the CES documentation, poverty is the "Percent of the population living below two times the federal poverty
level (5-year estimate, 2011-2015)."  If one digs in to the data, you can find that the poverty percentile for those tracts with high CES scores is higher than the average percentile across all tracts.*

#### You are done! Remember to submit this lab on bCourses in both html and ipynb formats after clicking Kernel -> Restart & Run All.